<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinum.thimble">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ui.ThimbleApplication"
        android:theme="@style/Thimble.BaseTheme">

        <activity
            android:name="com.infinum.thimble.ui.ThimbleActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Thimble.BaseTheme" />

        <service
            android:name="com.infinum.thimble.ui.ThimbleService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <provider
            android:name=".RecorderDocumentsProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.infinum.thimble.ThimbleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>